@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap");

:root {
    --primaryColor: #E85382
}

html[aria-theme="theme1"] {
    --primaryColor: #E85382
}
html[aria-theme="theme2"] {
    --primaryColor: #39BADF
}
html[aria-theme="theme3"] {
    --primaryColor: #E1A725
}

html, body {
    font-family: 'Clash Display', sans-serif;
}

@layer utilities {
    .rounded-x-full {
        @apply rounded-r-full rounded-l-full;
    }
    .view-btn {
        animation: grow 150ms linear forwards alternate;
    }
}

.scale-up {
    animation: scaleUp 150ms ease-in forwards;
}
.scale-down {
    animation: scaleDown 150ms ease-in forwards;
}

.slideInRight {
    transition: 200ms linear;
    animation: slideIn 200ms linear alternate forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes grow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        opacity: 0.1;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes scaleDown {
    from {
        /* display: none; */
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0.1;
        transform: scale(0.1);
        display: none;
    }
}